@import url('https://fonts.googleapis.com/css2?family=Acme&family=Dancing+Script:wght@700&family=Lobster&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /* background-color: #f6f6f6; */
    font-family: 'Acme', sans-serif;
    background: #67B26F;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4ca2cd, #67B26F);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4ca2cd, #67B26F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-container {
    background-color: aquamarine;
    display: flex;
    width: 30rem;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}

.form-container .todoInput {
    outline: none;
    width: 300px;
    border: none;
    padding: 10px;
    border-radius: 10px;
    
}

.form-container .todoInput[type="text"] {
    font-family: 'Acme', sans-serif;
    font-weight: bold;
    padding-left: 10px;
    font-size: 18px;
}

.form-container .addBtn {
    border: none;
    outline: none;
    background-color: inherit;
    margin-bottom: 8px;
    font-size: 16px;
    
}

.form-container .fa-plus-circle {
    margin: 9px 10px 0;
    cursor: pointer;
}

.todoContainer .todoList{
    list-style: none;
}

.todoList .todo .icons {
    cursor: pointer;
    font-size: 20px;
}

.todoList .todo .icons .fa-trash-alt {
    color: #DC2626;
    /* font-weight: bold; */
    
}

.todoList .todo .icons .fa-check-square {
    color: #259532;
    font-weight: bold;
}

.select {
    /* appearance: none; */
    border: none;
    border-radius: 10px;
    padding: 13px;
    font-size: 16px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    font-family: 'Acme', sans-serif;
}

.todoContainer .todoList .todo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #7fffd4;
    width: 17.5rem;
    margin-right: 182px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
    transition: all 0.5s ease-in-out;
    
}

.todoContainer .todoList .checked li {
    opacity: 0.5;
    text-decoration: line-through;
    transition: all 0.5s ease-in-out;
}

